<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>news-management</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  	<servlet>
		<servlet-name>Controller</servlet-name>
		<servlet-class>by.http.newsmanagement.controller.Controller</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/controller</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>NewsListPage</servlet-name>
		<jsp-file>/WEB-INF/JSP/news_list.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewsListPage</servlet-name>
		<url-pattern>/news_list_page</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>NewsPage</servlet-name>
		<jsp-file>/WEB-INF/JSP/news.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewsPage</servlet-name>
		<url-pattern>/news_page</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EditPage</servlet-name>
		<jsp-file>/WEB-INF/JSP/view_news.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditPage</servlet-name>
		<url-pattern>/view_page</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ErrorPage</servlet-name>
		<jsp-file>/WEB-INF/JSP/error.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>ErrorPage</servlet-name>
		<url-pattern>/error_page</url-pattern>
	</servlet-mapping>
	
	<error-page>
		<error-code>404</error-code>
		<location>/SorryError.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/SorryError.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/SorryError.jsp</location>
	</error-page>
  
</web-app>